h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-Bold";
}


h2{

  font-size: 3rem;
  line-height: 1.5;
}
h3{

  font-weight: bold;
}
p{
  color: #8f8f8f;
}
.maintitle{
  font-size:12px;
  font-weight: bolder;
}

.container-fluid{
  padding: 3% 15%; /*topbottom leftright     */
}
/*Headings */
.big-heading{
  font: Montserrat-Black;
  font-size: 3.5rem;
  line-height: 1.5;
}
#title{
  background-color: #ff4c68;
  color: white;

}
body{
  font-family: "Montserrat";
}
 /* navigation bar */
 .navbar{
   padding: 0 0 4.5rem;
 }
 .navbar-brand{
   font:"Ubuntu";
   font-size: 2.5rem;
   font-weight: light;
   text-decoration: underline;

 }
 .nav-item{
   padding: 0 18px;
 }
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat-light;
}

/* Download buttons */
.download-button{
  margin: 5% 3% 5% 0;
}
/* Title-Image */
.title-image{
    width: 60%;
  transform: rotate(25deg);
  position: relative;
  left:30px;



}
 /* features-section */
 #features{
   padding: 7% 14%;
  background-color: #fff;



 }
 .feature-box{
   text-align: center;
   padding: 4.5%;
 }
 .icon{
   color: #ef8172;
   margin: 1rem;
 }
 .icon:hover{
   color: #ff4c68;
 }
 /* testimonial section */
 #testimonials{
    /*  topbottom,leftright */
    text-align: center;
    background-color: #ef8172;
    color: #fff;

 }
 .testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
 }
 .carousel-item{
     padding: 7% 15%;
 }
 #press{
   background-color: #ef8172;
   text-align: center;
   padding-bottom: 3%;
 }
 .press-logo{
   width: 15%;
   margin: 20px 20px 50px;   /*top,leftright,bottom*/
 }
 /* pricing section */
 #pricing{
   padding: 100px;
   text-align: center;
 }
 .pricing-col{
   padding: 3% 2%;
 }
 /*cta section */

 #cta{
   background-color: #ff3468;
   color: #fff;
   padding: 7% 15%;
   text-align: center;

 }
  .downloadbutton{
    margin: 5% 3% 5% 0;
  }
  .ctaheading{
    font-family: Montserrat-Black;
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  /*footer*/
  #footer{
    padding: 7% 15%;
    text-align: center;
  }
  .social-icon{
    padding: 20px 10px;
  }


 @media (max-width:1022px) {
   .title-image{
    transform: rotate(0);

   }

 }
 @media (max-width:1022px) {
   #title{
     text-align: center;
   }

 }
